<strong>Olá, {{ hostName }}</strong>
<p>Houve uma inscrição no seu meetup, inscrição de número <strong>[{{ quantity }}]</strong></p>
<p>Confira os detalhes abaixo.</p> <br/>
<p>
  <strong>Meetup: </strong> {{ meetupTitle }} <br/>
  <strong>Data/Hora: </strong> {{ meetupDate }} <br/>
  <strong>Usuário: </strong> {{ userName }} <br/>
</p>
